<ion-header>
  <ion-toolbar>
    <ion-title>Comments and Reminders</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">CLOSE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-checkbox [(ngModel)]="markDone" checked="false" slot="start" color="primary"></ion-checkbox>
      <ion-label>Mark activity as done?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Enter comments for {{oppId}}</ion-label>

      <ion-textarea [(ngModel)]="comment" rows="4"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="primary" expand="full" type="button" (click)="onSubmit()">SUBMIT</ion-button>
  {{phoneNumbers}}
  {{msg}}
</ion-content>