<ion-header>
  <ion-toolbar>
    <ion-title>Comments and Reminders</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">CLOSE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #callCommentsForm="ngForm" (ngSubmit)="onSubmit(callCommentsForm)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Enter comments for {{oppId}}</ion-label>

        <ion-textarea ngModel name="comment" rows="4" required></ion-textarea>
        <ion-text *ngIf="errorMessage" color="danger">Comment field is required.</ion-text>
      </ion-item>
    </ion-list>
    <ion-button color="primary" expand="full" type="submit">SUBMIT</ion-button>
  </form>
  {{phoneNumbers}}
  {{msg}}
</ion-content>