<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button icon="arrow-back" defaultHref="/employee/followup"></ion-back-button>
    </ion-buttons>
    <ion-title>Opportunity {{oppId.OppId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="activeTab === 'firstTab'">
    <ion-row>
      <ion-col>
          {{oppId.OppId}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="activeTab !== 'firstTab'">
    <ion-row>
      <ion-col>
          {{oppId.OppId}} contacts
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="GetLocation()"><ion-icon name="pin"></ion-icon></ion-fab-button>
  </ion-fab>

  {{location}}
</ion-content>

<ion-footer transparent no-border>
  <ion-toolbar transparent no-border>
    <ion-grid>
      <ion-row>
        <ion-col class="button-container" size="6" align-self-center [ngClass]="{'active': activeTab == 'firstTab'}">
          <ion-button class="align-button-center" fill="clear" (click)="changeTabs('firstTab')">
            <ion-icon slot="icon-only" name="document"></ion-icon>
            <ion-label>Opportunity</ion-label>
          </ion-button>
        </ion-col>
        <ion-col class="button-container" size="6" align-self-center [ngClass]="{'active': activeTab == 'secondTab'}">
          <ion-button class="align-button-center" fill="clear" (click)="changeTabs('secondTab')">
            <ion-icon slot="icon-only" name="contacts"></ion-icon>
            <ion-label>Client Details</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>