.tabButtons {
    text-align: center;
}

.tabButtons :hover {
    cursor: pointer;
}

.active {
    border-top: 2px solid #3880ff;
}

.align-button-center {
    display: inline-block;
}

.button-container {
    text-align: center;
}

p.formValue {
    font-size: 20px;
    line-height: 1.2em;
}