<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button icon="arrow-back" defaultHref="/employee/followup"></ion-back-button>
    </ion-buttons>
    <ion-title>Opportunity {{oppId.OppId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="activeTab === 'firstTab'">
    <ion-row>
      <ion-col>
          {{oppId.OppId}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="activeTab !== 'firstTab'">
    <ion-row>
      <ion-col>
          {{oppId.OppId}} contacts
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer transparent no-border>
  <ion-toolbar transparent no-border>
    <ion-grid>
      <ion-row>
        <ion-col align-self-center [ngClass]="{'active': activeTab == 'firstTab'}">
          <ion-button expand="full" fill="clear" (click)="changeTabs('firstTab')">
            <ion-icon slot="icon-only" name="document"></ion-icon>
            <ion-label>Opportunity</ion-label>
          </ion-button>
        </ion-col>
        <ion-col align-self-center [ngClass]="{'active': activeTab == 'secondTab'}">
          <ion-button expand="full" fill="clear" (click)="changeTabs('secondTab')">
            <ion-icon slot="icon-only" name="contacts"></ion-icon>
            <ion-label>Contact Details</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>