<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button icon="arrow-back" defaultHref="{{this.backToOriginURL}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.activityName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size=12 class="{{this.changeBackground()}}">
        Planned activity start date: {{this.startDateTime}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12 *ngIf="this.activityType.toLowerCase() === 'meeting'">
        <ion-button (click)="getLocation()" expand="block" fill="solid" *ngIf="isCheckIn" color="success">
          <ion-icon name="pin"></ion-icon>
          <ion-label>Check-in</ion-label>
        </ion-button>

        <ion-button (click)="checkOutFromSite()" expand="block" fill="solid" *ngIf="!isCheckIn" color="danger">
          <ion-icon name="pin"></ion-icon>
          <ion-label>Check-out</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12 *ngIf="this.activityType.toLowerCase() !== 'meeting' || (this.activityType.toLowerCase() === 'meeting' && isCheckIn)">
        <ion-button color="primary" (click)="markActivityComplete()" fill="solid" expand="block">
          <ion-label>Mark {{this.activityType}} As Completed</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="activeTab === 'firstTab'">
    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          Contact Name
        </ion-text>
          <p class="formValue">{{contactName}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text color="primary">
          Address
        </ion-text>
        <div class="formValue clientLocation" (click)="openClientAddress()">{{clientAddress}}</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text color="primary">
          Mobile Phone
        </ion-text>
        <div class="formValue">
          <div class="contactNumberContainer">{{this.mobilePhone}}</div>
          <ion-button class="callNumber" (click)="callClientNumber(this.mobilePhone)" *ngIf="this.mobilePhone !== ''">CALL</ion-button>
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text color="primary">
          Home Phone
        </ion-text>
        <div class="formValue">
          <div class="contactNumberContainer">{{this.homePhone}}</div>
          <ion-button class="callNumber" (click)="callClientNumber(this.homePhone)" *ngIf="this.homePhone !== ''">CALL</ion-button>
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text color="primary">
          Office Phone
        </ion-text>
        <div class="formValue">
          <div class="contactNumberContainer">{{this.officePhone}}</div>
          <ion-button class="callNumber" (click)="callClientNumber(this.officePhone)" *ngIf="this.officePhone !== ''">CALL</ion-button>
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text color="primary">
          Other
        </ion-text>
        <div class="formValue">
          <div class="contactNumberContainer">{{this.otherNumber}}</div>
          <ion-button class="callNumber" (click)="callClientNumber(this.otherNumber)" *ngIf="this.otherNumber !== ''">CALL</ion-button>
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text color="primary">
          Primary Email
        </ion-text>
        <div class="formValue"><a href="{{mailToPrimaryEmail}}">{{primaryEmail}}</a></div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text color="primary">
          Secondary Email
        </ion-text>
        <div class="formValue"><a href="{{mailToSecondaryEmail}}">{{secondaryEmail}}</a></div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text color="primary">
          Do not call
        </ion-text>
        <div class="formValue">{{doNotCallFlag}}</div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="activeTab !== 'firstTab'">
      <ion-item>
        <ion-label text-wrap>
          <ion-text color="primary">
            Opportunity Name
          </ion-text>
            <p class="formValue">{{opportunityName}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">
            Contact Name
          </ion-text>
          <p class="formValue">{{contactName}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label>
            <ion-text color="primary">
              Job Includes
            </ion-text>
            <p class="formValue">{{jobInclusion}}</p>
          </ion-label>
        </ion-item>
      <ion-item>
        <ion-label text-wrap>
          <ion-text color="primary">
            Description
          </ion-text>
          <p class="formValue">{{oppDescription}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label>
            <ion-text color="primary">
              Next Steps
            </ion-text>
            <p class="formValue">{{nextSteps}}</p>
          </ion-label>
        </ion-item>
      <ion-item *ngIf="driveFolder != ''">
          <ion-label text-wrap>
            <ion-text color="primary">
              Team Drive folder directory
            </ion-text>
            <p class="formValue"><a href="{{driveFolder}}" target="_blank">{{driveFolder}}</a></p>
          </ion-label>
        </ion-item>
      </ion-list>  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <!-- <ion-fab-button (click)="getLocation()" *ngIf="checkIn.location==''"><ion-icon name="arrow-dropup"></ion-icon></ion-fab-button> -->
      <ion-fab-button><ion-icon name="arrow-dropup"></ion-icon></ion-fab-button>
      
      <ion-fab-list side="top">
        <ion-fab-button (click)="callSupportNumber()" color="light">
          <ion-icon name="call" class="fabItemListCustom"></ion-icon>
        </ion-fab-button>
        <ion-label>Call Support</ion-label>
      </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer transparent no-border>
  <ion-toolbar transparent no-border>
    <ion-grid>
      <ion-row>
        <ion-col class="button-container" size="6" align-self-center [ngClass]="{'active': activeTab == 'firstTab'}">
          <ion-button class="align-button-center" fill="clear" (click)="changeTabs('firstTab')">
            <ion-icon slot="icon-only" name="contacts"></ion-icon>
            <ion-label>Contact</ion-label>
          </ion-button>
        </ion-col>
        <ion-col class="button-container" size="6" align-self-center [ngClass]="{'active': activeTab == 'secondTab'}">
          <ion-button class="align-button-center" fill="clear" (click)="changeTabs('secondTab')">
            <ion-icon slot="icon-only" name="document"></ion-icon>
            <ion-label>Opportunity</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>