.login-options {
    text-align: center;
    font-size: 14px;
    color: var(--ion-color-primary, #3880ff);
    line-height: 2em;
}

.login-options span:hover {
    cursor: pointer;
}

.companyLogoContainer {
    text-align: center;
}

.companyLogo {
    min-width: 20vw;
    min-height: 25vh;
}

.loginFormContainer {
    min-width: 30vw;
    max-width: 70vw;
}