<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>My Calls (Excluding Followups)</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>

<div class="loaderContainer">
  <ion-spinner color="dark" name="circles" *ngIf="isLoading"></ion-spinner>
</div>

<ion-list *ngIf="!isLoading && callList.length > 0">
  <!-- <ion-item-sliding *ngFor="let item of callList">
    <ion-item-options side="start">
      <ion-item-option (click)="markDone(item.OppId)">DONE</ion-item-option>
    </ion-item-options>
    <ion-item button>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon slot="start" name="menu" size="small"></ion-icon>
      <ion-label (click)="contactSelected($event,item.OppId, item.ContactId)">
        <ion-text text-wrap class="contentText">
          <h2>{{item.OppName}}</h2>
        </ion-text>
      </ion-label>
      <ion-button slot="end" size="large" color="success" (click)="DialNumber(item.ContactId, item.OppId)">
        <ion-icon slot="icon-only" name="call" size="large"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-item-sliding> -->
  <ion-item button *ngFor="let item of callList">
    <ion-ripple-effect></ion-ripple-effect>
    <!-- <ion-icon slot="start" name="menu" size="small"></ion-icon> -->
    <ion-label (click)="contactSelected($event,item.OppId, item.ContactId)">
      <ion-text text-wrap class="contentText">
        <h2>{{item.OppName}}</h2>
      </ion-text>
    </ion-label>
    <ion-button slot="end" size="large" color="success" (click)="DialNumber(item.ContactId, item.OppId)">
      <ion-icon slot="icon-only" name="call" size="large"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<div *ngIf="!isLoading && callList.length == 0" class="emptyList">
    No items found.
</div>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="circles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
