.loaderContainer {
    width: 100%; 
    text-align: center;
}

.custom-button-margin {
    margin-top: 20px;
    margin-bottom: 0px;
}

.emptyList {
    justify-content: center;
    text-align: center;
}