<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>All Calls - Planned</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>

<div class="loaderContainer">
  <ion-spinner color="dark" name="circles" *ngIf="isLoading"></ion-spinner>
</div>

<ion-list *ngIf="!isLoading && callPlannedList.length > 0">
  <ion-item button *ngFor="let item of callPlannedList">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-label (click)="contactSelected($event, item.OppId, item.ContactId, item.ActivityType, item.ActivityId, item.OppName, item.StartDate)">
      <ion-text text-wrap class="contentText">
        <h2>{{item.OppName}}</h2>
        <p>Start Date: {{item.StartDate}}</p>
      </ion-text>
    </ion-label>
    <ion-button slot="end" size="large" color="success" (click)="DialNumber(item.ContactId, item.OppId, item.ActivityId)" *ngIf="item.ActivityType === 'Call'">
      <ion-icon slot="icon-only" name="call" size="large"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<div *ngIf="!isLoading && callPlannedList.length == 0" class="emptyList">
    No overdue activities found.
</div>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="circles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
